.main {

  align-items: center;
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: rgb(255, 85, 85)
}

.headerContent {
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: 5rem;
  text-decoration: none;
}

.headerText {
  color: black;
}

.logo {
  margin: 1.4rem 2rem
}

.footer {
  width: 100%;
  height: 3rem;
  background-color: rgb(255, 85, 85)
}

.footerText {
  width: 100%;
  text-align: center;
}

.childrenContainer {
  height: 100%;
  width: 100%;
  margin: 0 auto 0 auto;
  background-color: rgb(185, 255, 185);

}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin: 3rem auto 5rem auto;
  max-width: 1300px;
  padding-bottom: 5rem;
}


.item {
  height: 233px;
  width: 233px;
  border: 1px solid rgb(101, 101, 101);
  margin: 0 auto 1rem auto;
  border-radius: 5px
}

.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.itemInfo {
  width: 200px;
  margin: 0 auto 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white
}

.itemInfo:hover {
  background-color: rgb(132, 255, 132);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.name {
  text-align: center;
  font-size: x-large;
}

.binomialName {
  text-align: center;
  font-size: medium;
}

.price {
  text-align: center;
  font-size: x-large
}

.link {
  text-decoration: none;
  color: black;
}

.searchBar {
  max-width: 1300px;
  margin: 0 auto 0 auto;
  padding-right: 2rem;

}

.searchBar>input {
  display: block;
  width: 233px;
  height: 2rem;
  margin-left: auto;
  margin-right: 0;
  margin-top: 2rem;
  background-color: rgb(95, 167, 255);
  text-align: center;
  font-size: large;
}



.backButton {
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  padding-right: 13rem;
}

.backButton>a {
  text-decoration: none;

}

.backButton>a>button {
  display: block;
  width: 200px;
  height: 2rem;
  margin-left: auto;
  margin-right: 0;
  margin-top: 2rem;
  background-color: orangered;
  text-align: center;
  font-size: large;
}

.detailPageWrapper {
  margin: 4rem auto 0 auto;
  max-width: 1300px;
  height: 100%;

}

.image {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

.description {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(72, 246, 72, 0.383);
}

.description>h1 {
  text-align: center;
  margin: 2rem auto 2rem auto;
  font-size: xx-large;
}

.description>ul {
  font-size: larger;
}

.description>ul>li {
  margin: 1rem auto 1rem auto
}

.description:hover,
.image:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}